.line {
    height: 0.5px;
    flex-grow: 1;
    background-color: var(--secondary-textcolor);
  }

  .card h1, .card h2, .card h3 {
    font-family: "Domine", serif;
  }

  time {
    color: var(--primary-textcolor);
  }

  section .subtitle {
    color: var(--primary-textcolor);
  }

  .button {
    background-color: var(--primarycolor);
  }

  div[class*="card"] {
    box-shadow: 0 5px 10px lightgray;
  }

  
  