.line {
    height: 1px;
    flex-grow: 1;
    background-color: #afafaf;
  }

  .card h1, .card h2, .card h3 {
    font-family: "Domine", serif;
  }

  time {
    color: var(--primary-textcolor);
  }
  